<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqtalk.dao.CountMapper">

    <insert id="insertCollectInfo" parameterType="com.cqtalk.entity.count.EntityCollectDO">
        INSERT INTO `collect` (`type`, `entity_id`, `user_id`, `label_name`, `create_time`)
        VALUES (#{type}, #{entityId}, #{userId}, #{labelName}, #{createTime});
    </insert>

    <select id="selectLabelNameByUserId" resultType="String">
        SELECT DISTINCT `label_name` FROM `collect` WHERE user_id = #{userId};
    </select>

    <select id="selectInfoByUserId" resultType="com.cqtalk.entity.count.CollectDO">
        SELECT id, type, entity_id, user_id, label_name, create_time FROM `collect` WHERE user_id = #{userId};
    </select>

    <insert id="insertFollowColumnInfo" parameterType="com.cqtalk.entity.count.FollowColumnDTO">
        INSERT INTO `user_follow_column` (column_id, user_id) VALUES (#{columnId}, #{userId});
    </insert>

    <delete id="deleteFollowColumnInfo" parameterType="com.cqtalk.entity.count.FollowColumnDTO">
        DELETE FROM `user_follow_column` WHERE column_id = #{columnId} AND user_id = #{userId};
    </delete>

    <select id="selectFollowColumnInfoById" resultType="Integer">
        SELECT count(id) FROM `user_follow_column` WHERE column_id = #{columnId} AND user_id = #{userId};
    </select>

</mapper>